    .content {
    position: absolute;
    top: 0;
    left: 64px;
    background-color: rbga(0,0,0,0.5);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 15vh 85vh;
}
.form-container {
    gap: 2rem;
    height: 85vh;  
    
}
.form {
    padding: 2rem;
    margin: 2rem;
    background-color: #000000b0;
    width: 25vw;
    gap: 2rem;
    color: white;
}
.container{
    gap: 2rem;
}
.container > input {
    padding: 0.5rem 1rem;
    width: 15rem;
}